.banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 840px;
    text-align: end;
    & .container {
        width: 100%;
    }
    & .banner-content {
        h1 {
            font-size: $fz-xl;
        }
        p {
            font-size: 64px;
            line-height: 96px;
        }
    }
}
@include desktop {
    .banner {
        & .container {
            max-width: 768px;
        }
        & .banner-content {
            font-size: $fz-xxl;
            h1 {
                font-size: $fz-m;
            }
        }
    }
}
@include pad {
    .banner {
        & .container {
            max-width: 576px;
        }
        & .banner-content {
            font-size: 32px;
            h1 {
                font-size: $fz-base;
            }
        }
    }
}
// 專業的心
.profashion {
    h2 {
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        padding-top: 60px;
    }
    & .profashion-item {
        width: 255px;
        h3 {
            text-align: center;
            font-size: $fz-l;
            color: $primary;
        }
        p {
            text-align: left;
            line-height: 24px;
            margin: 8px 0 80px;
        }
    }
    & .profashion-img {
        height: 100px;
        margin: 48px 0 24px;
    }
}
@include desktop {
    .profashion {
        h2 {
            font-size: 32px;
        }
        & .container {
            max-width: 768px;
        }
        & .profashion-list {
            flex-wrap: wrap;
        }
        & .profashion-item {
            width: 50%;
            flex-direction: column;
            display: flex;
            p {
                width: 255px;
                align-self: center;
            }
        }
    }
}
@include pad {
    .profashion {
        h2 {
            font-size: $fz-l;
        }
        & .container {
            max-width: 576px;
        }
        & .profashion-item {
            width: 100%;
            margin-bottom: -40px;
            p {
                width: 255px;
            }
        }
    }
}
